/*.button:focus {*/
/*	outline: solid white;*/
/*}*/
.jumbotron {
	background-color: transparent;
}

.bg-light {
	background-color: #f8f9fa !important;
	border: 5px solid #37EBFE;
}

.btn-dark {
	color: #fff;
	background-color: #1917b8;
	border-color: #37EBFE;
}

h4 {
	color: whitesmoke;
	padding: 1em;
	margin-left: 4em;
	text-shadow: 2px 2px 3px #37ebff;
	font-family: 'Montserrat', sans-serif;
	font-size: x-large;
}