button:focus {
outline: solid white;
}

.jumbotron {
	background-color: transparent;
	border: #37ebff;
	padding: 0;
}

.bg-secondary {
	font-family: 'Roboto', sans-serif;
	background-color: #f8f9fa !important;
	border: 5px solid #37EBFE;
}
#three-jswrapper canvas:last-child {
	display: none;
}

.btn-dark {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color: #1917b8;
	border-color: #37EBFE;
}

h4 {
	color: black;
	padding: 1em;
	margin-left: 4em;
	text-shadow: 2px 2px 2px #ffffff;
	font-family: 'Montserrat', sans-serif!important;
	font-size: x-large;
}

a:hover{
	color: #37EBFE;
}