body{
	background-color: rgba(25, 38, 255, 0.83);
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: white;
	font-style: italic;
}

h1{
	color: white;
	padding: 1em;
	text-shadow: 2px 3px 5px #37ebff;
}